<!DOCTYPE html>

<html>
<head>
  <title>Google 2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="assets/favicon.ico">
</head>
<body>
  <header>
    <div class="hsr">
      <ul>
        <li><a href="#">+Garrett</a></li>
        <li><a href="#">Gmail</a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#" alt="apps" class="apps-link"></a></li>
        <li><a href="#" alt="notifications" class="notifications-link"></a></li>
        <li><a class="share">Share</a></li>
        <li><a href="#" alt="user picture" class="user-pic"></a></li>
      </ul>
    </div>
  </header>
  <div class="container">  
    <img class="logo" src="assets/logo11w.png" alt="google logo" height="95px">
    <div class="search">
      <form>
        <div class="search-container">
          <span class="mic-icon"></span>
          <input class="search-box" type="text">          
        </div>
        <div class="submit-wrapper">
          <input type="button" value="Google Search">
          <input type="button" value="I'm Feeling Lucky">
        </div>
      </form>
    </div>
  </div>
  <footer>
    <ul class="fsl">
      <li><a href="#">Advertising</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">About</a></li>
    </ul>

    <ul class="fsr">
      <li><a href="#">Privacy & Terms</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </footer>
</body>
</html>


